.heading{
    width:100%;
    margin:0px;
    box-shadow: 5px 5px 5px blueviolet;
    font-size:25px;
}

.note{
    font-size:15px;
    color:black;
}

.copy_right_footer{
    position:fixed;
    bottom:0;
    line-height:50px;
    background-color:grey;
    color:black;
    width:100%;
    text-align:center;
}
canvas{
    background-color:grey;
    box-shadow:5px 10px 5px black;
    border-radius:75px;
    border:20px red;
}
#word{
    color:black;
}